
<nav class="navbar">

  	<div class="nav-left">
			<a class="clickable" href="/">Index</a>
			{% if current_account %}
				<a class="clickable" href='/upload'>upload</a>	
			{% endif %}
		</div>

  	<div class="nav-middle">
			<form action="/search" class="container" method="get">
  			<input id="tag_list" name="tag_list" type="text" class="form-item" placeholder="Search..">
 				<input type="submit" class="btn btn-main" value="Search">
			</form>
		</div>
		
  	<div class="nav-right">	
				<a class="clickable" href="/login">Log in</a>
		</div>
	</div>
</nav>
