
{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}

	<h1>{{ post.title }}</h1>
	
	{% for mediaitem in post.mediaitems %}
		{% if mediaitem.mediatype == 'image' %}
			<img style="width: 100%" class="mx-auto d-block" src="{{ mediaitem.server_path }}">
		{% endif %}
	{% endfor %}
	
	<p>{{ post.description }}</p>
	
	<p>Tags:
		{% for tag in post.tags %}
			<button class="btn btn-primary" title="{{ tag.name }} - {{ tag.description }}">{{ tag.name }}</button>
		{% endfor %}
	</p>	

	<p>Uploaded on: <span data-timestamp="{{ post.upload_ts }}">{{ post.upload_ts }}</span>
	
	{% if post.upload_ts != post.edit_ts %}
		Edited on: <span data-timestamp="{{ post.edit_ts }}">{{ post.edit_ts }}</span>
	{% endif %}
	</p>

	<p>Uploaded by: {{ post.uploader.username }}</p>
	
	{% include 'replies.html' %}
	
	{% if current_account %}
		{% include 'commentform.html' %}
	{% else %}
		<p>Log in to post a comment.</p>
	{% endif %}
{% endblock content %}
