
{% extends "base.html" %}
{% block title %}{{ account.profile_name }}{% endblock title %}
{% block content %}

<h1>{{ account.profile_name }}</h1>
<h3>@{{ account.username }}
	{% if current_account.id == account.id %}
		<button class="btn btn-main clickable"><a href="/editprofile">Edit profile</a></button>
		<button class="btn btn-warn clickable"><a href="/logout">Logout</a></button>
	{% endif %}
</h3>

<div class="grid-view">
	{% for post in account.posts %}
		{{ render_card(post) }}
	{% endfor %}
</div>

{% endblock content %}
