
{% macro render_reply( reply ) %}
	<div {% if reply.parent_id %} class="indent"{% endif %}>
		<p>#{{ reply.id }}
			{% if reply.post_id %}
				{{ reply.uploader.profile_name }} comments:
			{% else %}
				{{ reply.uploader.profile_name }} replies to #{{ reply.parent_id }}:
			{% endif %}
			<button class="btn btn-main" onclick="setText('parent_id', '{{ reply.id }}')">Reply</button>
		</p>
		<p>{{ reply.content }}</p>
		{% for reply in reply.replies %}
			{{ render_reply( reply ) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro render_replies() %}

	{% for reply in replies %}
			{{ render_reply(reply) }}
	{% endfor %}

{% endmacro %}

{{ render_replies() }}
