
{% extends "base.html" %}

{% block content %}
	<form id="upload_form" action="/upload" method="post" enctype="multipart/form-data"></form>
	{{ render_field( form.title, form.id ) }}
	{{ render_field( form.description, form.id ) }}
	{{ render_field( form.tags, form.id ) }}
	{% for tag in tags %}
		<button class="btn btn-primary" onclick="addText('tags', '{{ tag.name }}')">{{ tag.name }}</button>
	{% endfor %}
	{{ render_field( form.file, form.id ) }}
	<input form="{{ form.id }}" type="submit" class="btn btn-primary" value="{{ form.submit_text }}">
{% endblock content %}
